@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
html{padding : 2px 20px 0px 10px;}
html, #formBody { background-color:WhiteSmoke; padding-top: 5px;}
#SiteListBox{width:100%;}
.topPad{margin-top: 7px;}
.bottomPad{margin-bottom: 20px;}
#SiteListButtons{margin-left:20px;}
#addUpperCaseContainer{padding-top : 15px;}
.modal-title{padding: 5px 15px 0px 15px;}
#secretIdErrMsg, #siteKeyDelValue, #siteKeyErrMsg{color:red;}
#noshow{visibility:hidden;}
.hide{display:none;}
.cyaHeader{font-size:large;color:blue; margin-left:10px;}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}